@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Marck+Script&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;

    font-family: "Honk", system-ui;
}

main {
    min-height: 100vh;
}

header {
    background-color: #2d4057;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 15px 5px 15px;
}
navbar {
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
    overflow: auto;
}
navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
} 
navbar a:hover {
    color: #f3deca;
    text-decoration: underline 1px;
}
footer {
    min-height: 80px;
    background-color: #2d4057;
    text-align: center;
    color: white;
    padding-top: 35px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: "Marck Script", cursive;
}
h1 {
    font-size: 270%;
}
h2 {
    font-size: 200%;
}
h3  {
    font-size: 150%;
}
h4 {
    font-size: 120%;
}
h5 {
    font-size: 110%;
}
h6 {
    font-size: 100%;
}
section {
    padding-top: 90px;
}
.logo {
    height: 24px;
}

#index {
    background-image: linear-gradient(rgba(73, 73, 73, 0.315),rgba(0, 0, 0, 0.219)),url("../images/index.jpeg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#indexinfo{
    margin-top: 25vh;
    text-align: center;
}